interface Loopback0
 description Cisco XR router
 ip address {{ evpn.ciscoxr.loopback }} 255.255.255.255

ip route {{ evpn.juniper.loopback }} 255.255.255.255 10.0.1.88

router bgp {{ evpn.bgp_asn }}
 bgp router-id {{ evpn.ciscoxr.loopback }}
 neighbor {{ evpn.juniper.loopback }} remote-as 65001
 neighbor {{ evpn.juniper.loopback }} update-source Loopback0
 address-family l2vpn evpn

vrf CUSTOMER-A
 rd {{ evpn.ciscoxr.loopback }}:100

interface nve1
 no shutdown
 source-interface Loopback0
 member vni 100100
  ingress-replication protocol bgp

interface TenGigE0/0/0/2
 description Routed interface for CUSTOMER-A
 ip address 192.168.100.1 255.255.255.0
 no shutdown

router bgp {{ evpn.bgp_asn }}
 address-family ipv4 unicast
  redistribute connected
