interface Loopback0
 description Cisco XR router
 ip address 1.1.1.1 255.255.255.255

ip route 2.2.2.2 255.255.255.255 {{ l3_interfaces_juniper[0].ipv4[0].address }}

router bgp 65001
 bgp router-id 1.1.1.1
 neighbor 2.2.2.2 remote-as 65001
 neighbor 2.2.2.2 update-source Loopback0
 address-family l2vpn evpn
  !neighbor 2.2.2.2 activate
  !advertise ipv4 unicast

!vrf definition CUSTOMER-A
vrf CUSTOMER-A
 rd 1.1.1.1:100
  !vpn id 100:100
  !vni 100100
 address-family ipv4 unicast
  !route-target import 65001:100
  !route-target export 65001:100

interface nve1
 no shutdown
 source-interface Loopback0
 member vni 100100
  ingress-replication protocol bgp
  !associate-vrf

interface TenGigE0/0/0/2
 description Routed interface for CUSTOMER-A
 !vrf forwarding CUSTOMER-A
 ip address 192.168.100.1 255.255.255.0
 no shutdown

router bgp 65001
 !address-family ipv4 vrf CUSTOMER-A
 address-family ipv4 unicast
  redistribute connected
