set interfaces lo0 unit 0 family inet address 2.2.2.2/32 
set routing-options static route 1.1.1.1/32 next-hop 10.0.1.94

set protocols bgp group EVPN-OVERLAY type internal
set protocols bgp group EVPN-OVERLAY peer-as 65001
set protocols bgp group EVPN-OVERLAY local-address 2.2.2.2
set protocols bgp group EVPN-OVERLAY family evpn signaling
set protocols bgp group EVPN-OVERLAY neighbor 1.1.1.1

set interfaces irb unit 100 family inet address 192.168.100.2/24

