#junos-config
groups {
    aws-default {
        system {
            host-name Juniper-1;
            root-authentication {
                encrypted-password *disabled*;
            }
            scripts {
                translation {
                    max-datasize 512m;
                }
            }
            login {
                user ec2-user {
                    full-name juniper-aws-ec2-user;
                    uid 100;
                    class super-user;
                    authentication {
                        plain-text-password "Admin";
                    }
                }
            }
            services {
                netconf {
                    ssh;
                }
                ssh {
                    root-login allow;
                }
                web-management {
                    https {
                        system-generated-certificate;
                    }
                }
            }
            license {
                autoupdate {
                    url https://ae1.juniper.net/junos/key_retrieval;
                }
            }            
        }
        interfaces {
            fxp0 {
                unit 0 {
                    family inet {
                        dhcp;
                    }
                }
            }
        }
    }
}
apply-groups aws-default;